@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Rubik', sans-serif !important;
}

.body {
  position: relative;
  top: 65px;
  margin-bottom: 6rem;
}
